language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm
sudo: false
before_script:
  - composer install ${COMPOSER_FLAGS} --no-interaction
script:
  - vendor/bin/phpunit --coverage-clover clover.xml
  - bin/coverage clover.xml 75
